body{
	background: black;
}

#login{
	padding-top: 20%;
	text-align: center;
	font-family: "Monoton";
}

h1{
	/*text-align: center;*/
	font-size: 50px;
	color: white;
	padding-bottom: 2.5%;
}


.header-icons{
	width: 100%;
	
}


#broadcast{
	color: #b32200;
	float: left;
}

#profiler{
	border-radius: 50%;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #fafafa;
}

#loggedin{
	width: 100%;
}

#loggedin h1{
	font-family: "Monoton";
	color: white;
	text-align: center;
	float: top;
}



#getCurrentTrack{
	font-family: "Montserrat";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
}

#trackTemplate{
	text-align: left;
	display: inline-block;
	max-width: 250px;
}


#songName{
	padding-top: 4%;
	color: white;

}

#artistName{
	color: #b32200;
}

.invert{
	-webkit-filter: invert(100%); filter: invert(100%);
	margin-left: 1%;
	outline-width: 0;

}

.flip{
	-moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    -webkit-filter: invert(100%); filter: invert(100%);
    margin-left: 0.7%;
    outline-width: 0;
}

div .input{
	margin-left: 20%;
	margin-right: 20%;
	padding-right: 10%;
	padding-left: 10%;
}

.player{
	padding-top: 5%;
	text-align: center;
}

input:hover{
   -webkit-filter: invert(70%); filter: invert(70%);
}