body{
	background: black;
}

#login{
	padding-top: 20%;
	text-align: center;
	font-family: "Monoton";
}

#login h1{
	text-align: center;
	font-size: 50px;
	color: white;
	padding-bottom: 2.5%;
}

#loggedin h1{
	/*text-align: center;*/
	font-size: 50px;
	color: white;
	padding-bottom: 2.5%;
	padding-left: 50px;
}


.header-icons{
	width: 100%;
	
}




#profiler{
	border-radius: 50%;
	float: right;
	padding: 0;
	margin: 0;
}


h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #fafafa;
	text-transform: uppercase;
}

#loggedin{
	width: 100%;
}

#loggedin h1{
	font-family: "Monoton";
	color: white;
	text-align: center;
	float: top;
}



#getCurrentTrack{
	font-family: "Montserrat";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 9px;
	text-align: center;
}

#trackTemplate{
	text-align: left;
	display: inline-block;
	max-width: 250px;
}


#songName{
	padding-top: 4%;
	color: #c7c6c6;

}

#artistName{
	color: #b32200;
}

.invert{
	-webkit-filter: invert(100%); filter: invert(100%);
	margin-left: ;
	outline-width: 0;

}

.flip{
	-moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    -webkit-filter: invert(100%); filter: invert(100%);
    margin-left: ;
    outline-width: 0;
}

div .input{
	margin-left: 20%;
	margin-right: 20%;
	padding-right: 10%;
	padding-left: 10%;
}

.player{
	padding-top: 5%;
	text-align: center;
}

input:hover{
   -webkit-filter: invert(70%); filter: invert(70%);
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 25px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 22.5px;
	transition: 0.3s;
}

input:checked + label {
	background: #b32200;
}

input:checked + label:after {
	left: calc(100% - 1.25px);
	transform: translateX(-100%);
}

label:active:after {
	width: 32.5px;
}
